---
import Header from '../components/Header';
import Footer from '../components/Footer';
import DAO from '../components/DAO';
import '../styles/global.css';
---

<html lang="en">
  <head>
    <title>MIB DAO Core</title>
  </head>
  <body class="security-bg">
    <Header />
    <main class="main">
      <DAO />
    </main>
    <Footer />
  </body>
</html>
